src/wsdl/172.16.26.9_6089/PY920/EstadoOrdenManagerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://JP5942EO.bssv.e1.oracle/" targetNamespace="http://JP5942EO.bssv.e1.oracle/"><xsd:complexType name="valueObject"/><xsd:complexType name="BusinessServiceException"><xsd:sequence><xsd:element name="faultInfo" type="xsd:string" minOccurs="0"/><xsd:element name="message" type="xsd:string" minOccurs="0"/><xsd:element name="requestID" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="GetStatusResponse"><xsd:sequence><xsd:element name="return" type="ns0:d5942EOPVO" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="d5942EOPVO"><xsd:complexContent><xsd:extension base="ns0:valueObject"><xsd:sequence><xsd:element name="addressNumber" type="xsd:int" minOccurs="0"/><xsd:element name="description" type="xsd:string" minOccurs="0"/><xsd:element name="description02" type="xsd:string" minOccurs="0"/><xsd:element name="description11" type="xsd:string" minOccurs="0"/><xsd:element name="documentOrderNoInvoiceetc" type="xsd:int" minOccurs="0"/><xsd:element name="documentVoucherInvoiceetc" type="xsd:int" minOccurs="0"/><xsd:element name="numerodeGuia" type="xsd:string" minOccurs="0"/><xsd:element name="orderType" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="GetStatus"><xsd:sequence><xsd:element name="arg0" type="ns0:d5942EOPVO" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="BusinessServiceException" type="ns0:BusinessServiceException"/><xsd:element name="GetStatusResponse" type="ns0:GetStatusResponse"/><xsd:element name="GetStatus" type="ns0:GetStatus"/></xsd:schema>